# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/

# Environment variables
.env

# Specific files
test.py
de421.bsp

archive/
tests/*
!tests/test_logging_setup.py
!tests/test_log_broker.py
docs/
logs/
